<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Test APP Socketio</h1>
    <form id="my-form">
      Enter message:
      <input type="text" name="somename">
      <button type="submit" id="event-btn">submit</button>
    </form>
    
    <form id="my-brodcast" style="margin-top: 1rem;">
      Enter Brodcat message:
      <input type="text" name="somename">
      <button type="submit" id="brodcast-btn">submit</button>
    </form>


    <div id="brodcast-message" style="margin-top: 1rem;"></div>

    <ul>
      <li>{{ data.status }}</li>
      <li>{{ data.message }}</li>
    </ul>
   
    <div id="my_response-message" style="margin-top: 1rem;"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>
